header {
display:  flex;
justify-content: space-around;
align-items: center;

height: 15vh;
width: 100%;

}

a {
  color: aliceblue;
}
a:hover {
  color: rgb(131, 190, 241);
}
.local-header {
  flex-basis: 80%;
  text-decoration: none;

}
.local-avatar {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  border-radius: 50%;
  box-shadow: 1px 1px 10px;
  overflow: hidden;
}
