footer {
display: flex;
/* Centralizando na horizontal, 1 para esquerda um no meio e outro na direita */
justify-content: space-between;
/*Cetralizando no meio da Div Footer*/
align-items: center;
width: 100%;
height: 4vh;
}

.local-container {
   flex-grow: 3;
}
div.local-container.central > span > a  {
   flex-grow: 4;
   color: aliceblue;
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
}
div.local-container.central > span > a:hover  {

   color: rgb(163, 195, 223);
   text-decoration: none;


}


